<div class="d-flex border rounded product">
  <div class="product-info-block w-100">
    <a [routerLink]="['details', 22]" class="d-block text-reset text-decoration-none">
      <div class="product-info-block__img d-flex justify-content-center">
        <img src="../../../../../assets/img/png/iphone.png" alt="iphone">
      </div>
      <div class="product-info-block__name mt-2">
        <span class="fw-bolder h6">Iphone 14</span>
      </div>
      <div class="product-info-block__details mt-3">
        <span class="fw-normal text-muted">4 GB/ 128 GB/ Single SIM/ Black</span>
      </div>
    </a>
    <div class="product-info-block__price-cart d-flex mt-3">
      <span class="flex-fill fw-bold h5 text-danger">11799 lei</span>
      <i class="bi bi-cart text-danger h5 cursor-pointer"></i>
      <i class="bi bi-pen h5 cursor-pointer"></i>
    </div>
  </div>
</div>
