<div class="container">
  <div class="header d-flex">
    <div class="name-block d-flex flex-column w-100">
      <h3>iphone 14</h3>
      <span>4 GB/ 128 GB/ Single SIM/ Pink</span>
    </div>
    <div class="icons-block d-flex align-items-center">
      <i class="bi bi-cart text-danger h2 cursor-pointer"></i>
    </div>
  </div>
  <hr>

  <div class="product-info">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-start">
        <div class="img-block">
          <img src="./assets/img/png/iphone.png" alt="">
        </div>
      </div>
      <div class="col-12 col-md-6 d-flex  justify-content-center justify-content-md-start">
       info
      </div>
    </div>
  </div>
  <div class="d-flex w-100">
    <button type="button" class="btn btn-primary w-100">Add to cart</button>
  </div>
</div>
